<div class="container">
    <h3>{{client.personalData.name}}</h3>
    <ul class="list-group list-group-flush">
        <li hidden>Id: {{client.id}}</li>
        <li hidden class="list-group-item">Nome: {{client.personalData.name}}</li>
        <li class="list-group-item">E-mail: {{client.personalData.email}}</li>
        <li class="list-group-item">CPF: {{client.personalData.cpf | cpf}}</li>
        <li class="list-group-item">RG: {{client.personalData.rg}}</li>
        <li class="list-group-item">Telefone 1: {{client.personalData.phoneNumberOne | phone}}</li>
        <li class="list-group-item">Telefone 1: {{client.personalData.phoneNumberTwo | phone}}</li>
        <li class="list-group-item">Aniversário: {{client.personalData.birthday | dateFormat}}</li>
        <li class="list-group-item">Registro: {{client.personalData.registrationDate | dateFormat}}</li>

        <li class="list-group-item">Estado: {{client.personalData.address.state}}</li>
        <li class="list-group-item">Cidade: {{client.personalData.address.city}}</li>
        <li class="list-group-item">Bairro: {{client.personalData.address.district}}</li>
        <li class="list-group-item">Rua: {{client.personalData.address.street}}</li>
        <li class="list-group-item">Número: {{client.personalData.address.number}}</li>
        <li class="list-group-item">CEP: {{client.personalData.address.cep}}</li>

        <li class="list-group-item">Observações: {{client.personalData.comments}}</li>
    </ul>
</div>
<div class="justify-content-end">
    <button class="btn btn-success" (click)="update(client)">
        <mat-icon><i class="fas fa-edit"></i></mat-icon>
    </button>
    <button class="btn btn-danger" (click)="close()">
        <mat-icon><i class="fas fa-window-close"></i></mat-icon>
    </button>
</div>
