<h1 mat-dialog-title>Novo Cliente</h1>
<div mat-dialog-content>
  <form [formGroup]="atualizarClientForm" class="container">
    <div class="row">

      <mat-form-field class="col-6" appearance="fill">
        <mat-label>E-mail</mat-label>
        <input matInput type="email" formControlName="email" name="email" id="email" placeholder="email@provedor.com"
          maxlength="100" required>
        <mat-error *ngIf="atualizarClientForm.get('email')?.errors?.email">
          Por favor digite um e-mail válido
        </mat-error>
        <mat-error *ngIf="atualizarClientForm.get('email')?.errors?.required">
          Email é <strong>obrigatório</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-6" appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput type="text" formControlName="name" placeholder="Seu nome" name="name" id="name" maxlength="150"
          required>
        <mat-error *ngIf="atualizarClientForm.get('name')?.errors?.required">
          Nome é <strong>obrigatório</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-4" appearance="fill">
        <mat-label>CPF</mat-label>
        <input matInput type="text" formControlName="cpf" name="cpf" id="cpf" placeholder="000.000.000-00"
          mask="000.000.000-00" required />
        <mat-error *ngIf="atualizarClientForm.get('cpf')?.errors?.required">
          Campo CPF é <strong>obrigatório</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-4" appearance="fill">
        <mat-label>RG</mat-label>
        <input matInput type="text" formControlName="rg" name="rg" id="rg" placeholder="00000000000" maxlength="13"
          oninput="this.value = this.value.replace(/[^0-9]/g,'').replace(/(\..*?)\..*/g, '$1');" required />
        <mat-error *ngIf="atualizarClientForm.get('rg')?.errors?.required">
          Campo RG é <strong>obrigatório</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-4" appearance="fill">
        <mat-label>Data de Aniversário</mat-label>
        <input matInput formControlName="birthday" name="birthday" id="birthday" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="atualizarClientForm.get('birthday')?.errors?.required">
          Campo Data de aniversário é <strong>obrigatório</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-4" appearance="fill">
        <mat-label>Contato 1</mat-label>
        <input matInput type="text" formControlName="phoneNumberOne" name="phoneNumberOne" id="phoneNumberOne"
          placeholder="(00) 0 0000-0000" mask="(00) 0 0000-0000" />
        <mat-error *ngIf="atualizarClientForm.get('phoneNumberOne')?.errors?.required ">
          Campo contato é <strong>obrigatório</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-4" appearance="fill">
        <mat-label>Contato 2</mat-label>
        <input matInput type="text" formControlName="phoneNumberTwo" name="phoneNumbertwo" id="phoneNumberTwo"
          placeholder="(00) 0 0000-0000" mask="(00) 0 0000-0000" />
      </mat-form-field>

      <mat-form-field class="col-4" appearance="fill">
        <mat-label>CEP</mat-label>
        <input (keyup)="getCep()" matInput type="text" formControlName="cep" name="cep" id="cep" mask="00.000-000" />
        <mat-error *ngIf="atualizarClientForm.get('cep')?.errors?.required">
          Campo CEP é <strong>obrigatório</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-3" appearance="fill">
        <mat-label>Estado</mat-label>
        <input matInput type="text" formControlName="state" name="state" id="state" />
        <mat-error *ngIf="atualizarClientForm.get('state')?.errors?.required">
          Campo estado é <strong>obrigatório</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-3" appearance="fill">
        <mat-label>Cidade</mat-label>
        <input matInput type="text" formControlName="city" name="state" id="city" />
        <mat-error *ngIf="atualizarClientForm.get('city')?.errors?.required">
          Campo cidade é <strong>obrigatório</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-3" appearance="fill">
        <mat-label>Bairro</mat-label>
        <input matInput type="text" formControlName="district" name="district" id="district" />
        <mat-error *ngIf="atualizarClientForm.get('district')?.errors?.required">
          Campo bairro é <strong>obrigatório</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-3" appearance="fill">
        <mat-label>Número</mat-label>
        <input matInput type="text" formControlName="number" name="number" id="number" />
        <mat-error *ngIf="atualizarClientForm.get('number')?.errors?.required">
          Campo número é <strong>obrigatório</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-6" appearance="fill">
        <mat-label>Logradouro</mat-label>
        <input matInput type="text" formControlName="street" name="street" id="street" />
        <mat-error *ngIf="atualizarClientForm.get('street')?.errors?.required">
          Campo logradouro é <strong>obrigatório</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-6" appearance="fill">
        <mat-label>Observações</mat-label>
        <textarea matInput formControlName="comments" name="text" id="comments" placeholder="Observações"
          rows="1"></textarea>
      </mat-form-field>

    </div>
  </form>
</div>
<div mat-dialog-actions class="justify-content-end">
  <button class="btn btn-success" [disabled]="!atualizarClientForm.valid" type="submit" (click)="update()">
    <mat-icon><i class="fas fa-check"></i></mat-icon>
  </button>
  <button class="btn btn-danger" mat-dialog-close>
    <mat-icon><i class="fas fa-window-close"></i></mat-icon>
  </button>
</div>
